.section--announcement
	span(1)
	.responsive-image, .slider
		span(9/12)
		width 'calc((100% - %s) * 3 / 4)' % ($gutter*3)
		+below($md)
			stack()
	.slider
		height 28vw
		+below($xl)
			height 39vw
		+below($md)
			height 71.4vw
		.img
			object-fit cover
			font-family 'object-fit: cover'
		.flickity-prev-next-button
			&.next
				right 0
			&.previous
				left 0
	.item-infos
		span(3/12)
		+above($md + 1)
			padding-left $gutter
		+below($md)
			stack()
		.caption-title
			margin-top 1em
			+above($md + 1)
				margin-top 0
	&+ .section--announcement
		+above($md + 1)
			.responsive-image, .slider
				move(3/12, $col-or-span: span)
			.item-infos
				move(-9/12, $col-or-span: span)
