.section--announcement
	span(1)
	.responsive-image
		span(9/12)
		width 'calc((100% - %s) * 3 / 4)' % ($gutter*3)
		+below($sm)
			stack()
	.item-infos
		span(3/12)
		+above($sm + 1)
			padding-left $gutter
		+below($sm)
			stack()
		.caption-title
			margin-top 1em
			+above($sm + 1)
				margin-top 0
