.section--artists-grid
  .responsive-image
    filter: grayscale(1)
  +below($sm)
    .image-placeholder, .responsive-image
      display none
    .artist-link
      width 100%
      margin 0
      text-align center
      border-top 1px solid
      h3
        padding 0.1em 0 0.2em
