.section--image
	.section--image--content
		position relative
		max-width 30vw
		margin 0 auto
		&.landscape
			max-width 40vw
		img
			position absolute
			display block
			top 0
			left 0
			border 1px solid
	.caption
		margin-top 1em
		text-align center