.section--relatedpages
  .relatedpage
    .tags
      margin-top 2rem
  .relatedpages-slider
    .relatedpage
      column(1/4, $gutter: 3, $cycle: 4)
    .flickity-prev-next-button
      .flickity-button-icon
        top 0
