.section--relatedpages
	.relatedpage
		.tags
			margin-top 2rem
		.responsive-image
			img
				transition transform 800ms ease
		+above($md + 1)
			&:hover
				.responsive-image img
					transform scale(1.04)
	.relatedpages-slider
		span(1)
		.flickity-prev-next-button
			.flickity-button-icon
				top 0
				height 17.3vw
		&.announcement
			.relatedpage
				span(1)
				.responsive-image
					span(9/12)
					width 'calc((100% - %s) * 3 / 4)' % ($gutter*3)
					+below($sm)
						stack()
				.item-infos
					span(3/12)
					+above($sm + 1)
						padding-left $gutter
					+below($sm)
						stack()
					.caption-title
						margin-top 1em
						+above($sm + 1)
							margin-top 0
							