section.section
	span(1)
	&:not(:first-child)
		margin-top 12rem

.one-column
	& > *
		span(1)
		margin-bottom ($gutter*2)

.two-columns
	& > *
		width 'calc(50% - %s)' % $gutter
		// column(1/2, $gutter: 3, $cycle: 2)
		margin-right $gutter
		margin-bottom ($gutter*2)
		&:last-child:first-child
			margin-right 0

.four-columns
	& > *
		width 'calc(25% - %s)' % $gutter
		// column(1/4, $gutter: 3, $cycle: 4)
		margin-bottom ($gutter*2)
		margin-right $gutter
		&:last-child:first-child
			margin-right 0

.page-section
	.caption-title + *:not(.caption-title)
		margin-top 2rem
