section.section
	span(1)
	&:not(:first-child)
		margin-top 12rem

.one-column
	& > *
		span(1)
		margin-bottom ($gutter*2)

.two-columns
	& > *
		column(1/2, $gutter: 3, $cycle: 2)
		margin-bottom ($gutter*2)

.four-columns
	& > *
		column(1/4, $gutter: 3, $cycle: 4)
		margin-bottom ($gutter*2)

.page-section
	.caption-title + *:not(.caption-title)
		margin-top 2rem
