section.section
  span(1)
  &:not(:first-child)
    margin-top 10rem

.one-column
  & > *
    span(1)
    margin-bottom ($gutter*2)

.two-columns
  & > *
    display block
    float left
    width 'calc((100% - %s) / 2)' % $gutter
    margin-right $gutter
    margin-bottom ($gutter*2)
    &:nth-child(2n)
      margin-right 0
      float right
    &:nth-child(2n+1)
      clear both
    &:last-child:first-child
      margin-right 0
    +below($sm)
      width 100%
      margin-right 0

.four-columns
  & > *:not(.flickity-viewport), .flickity-slider > *
    display block
    float left
    width 'calc((100% - %s) / 4)' % ($gutter*3 + 0.509)
    margin-bottom ($gutter*2)
    margin-right $gutter
    +above($sm + 1)
      &:nth-child(4n)
        margin-right 0
        float right
      &:nth-child(4n+1)
        clear both
    +below($sm)
      width 100%
      margin-right 0
      // width 'calc((100% - %s) / 2)' % $gutter
      // &:nth-child(2n)
      //   margin-right 0
      //   float right
      // &:nth-child(2n+1)
      //   clear both
    &:last-child:first-child
      margin-right 0
  .flickity-slider > *
    margin-bottom 0
    +above($sm + 1)
      &:nth-child(4n)
        margin-right $gutter
        float left
      &:nth-child(4n+1)
        clear none
    +below($sm)
      +below($sm)
        width 100%
        margin-right 0
      // width 'calc((100% - %s) / 2)' % $gutter
      // &:nth-child(2n)
      //   margin-right $gutter
      //   float left
      // &:nth-child(2n+1)
      //   clear none

.page-section
  .caption-title + *:not(.caption-title)
    margin-top 2rem
