footer#post-sticky
	position fixed
	bottom 0
	left 0
	width 100%
	padding-top $padding
	padding-bottom $padding
	display grid
	grid-template-columns 1fr 1fr 1fr
	text-align center
	background var(--bg-color)
	transform translateY(100%) translateZ(0)
	transition transform 200ms ease
	// border-top 1px solid
	box-shadow 0 0 1.1rem alpha($secondary, 0.3)
	z-index 200
	&.is-visible
		transform none
	div.infos, div.navigation
		// span(1/2)
		.sans-serif
			margin-bottom 0.2em
	div.share-buttons
		// span(1/3)
		ul
			display flex
			justify-content center
			li:not(:last-child)
				margin-right .5em
	.close-button
		justify-self end
		align-self center
		width 2.4rem
		svg
			display block
			width 100%