#outdated
	display none
	text-align center
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	background var(--bg-color)
	z-index 900
	a
		text-decoration underline
	.inner
		padding-top 8rem

.no-js, .no-svg, .no-flexbox
	#outdated
		display block