.embed__thumb>img
	opacity 1
	min-width 60px
	max-width 100px
	filter: drop-shadow(0 0 20px rgba(0,0,0,0.8))

.lazy, .plyr
	transition opacity 300ms ease
	opacity 0
	// transition filter 300ms ease, opacity 300ms ease
	// filter: blur(3px)
	// overflow hidden
	// opacity 0.3

.lazy.lazyloaded, .lazy.flickity-lazyloaded, .plyr.plyr--ready
	opacity 1
	// filter: blur(0px)

.responsive-image img
	display block
	hideselect()

hr
	display block
	float left
	border none
	margin $spacer 0
	height 2px
	width 100%
	color $secondary
	color var(--font-color)
	background $secondary
	background var(--font-color)

.spacer-top
	margin-top $spacer

.spacer-bottom
	margin-bottom $spacer

input
	border none
	background transparent
	-webkit-appearance none
	border 1px solid $secondary
	padding 0.8em
	margin 0
	sans-serif()
	&:focus
		outline none

.searchbar
	height 3em
	width 100%
	display inline-flex
	input
		flex 1 1 auto
		height 100%
		float left
		display block
		border-right none
		&::placeholder
			font-family "GLBaderBold", Helvetica, sans-serif
	input + input
		border-left 0
	input[type="submit"]
		display none
	label
		height 100%
	.button
		cursor pointer
		height 100%
		position relative
		border 1px solid $secondary
		display block
		width 2em
		display flex
		justify-content center
		align-items center
		background transparent
		border 1px solid $secondary
		border-left none
		svg
			display block
			width 0.6em
			height 100%

a.button
	display block
	padding 0.8em
	&:hover
		+above($md + 1)
			background $secondary
			color $menu-color

.menu-item, li[event-target=submenu]
	display block
	padding 0.8em 0.8em 0.8em 0
	&:not(:last-child)
		border-bottom 2px solid

ul.has-submenu
	display block
	float left
	width 100%
	ul
		width 100%
		display block
		float left
	li
		display block
		float left
		width 100%
	li[event-target=submenu]
		cursor pointer
		position relative
		& > svg
			transition transform 200ms ease
			width 0.6em
			height 100%
			position absolute
			top 0
			right 0.8em
	&:not(:hover)
		.submenu
			display none
	&:hover
		li[event-target=submenu]
			svg
				transform rotate(90deg)

.social-icon
	width 3rem
	margin-right 0.6rem

.logo-icon
	margin-right $gutter
	mix-blend-mode darken
	max-width 20rem

.image-placeholder
	position relative
	width 100%
	background #d8d8d8
	&::before
		content ''
		display block
		padding-top 100%
	.inner
		align()
		font-size 8rem
		text-transform uppercase
		color $primary