.slider, .inline-slider
	span(1)
	hideselect()
	.flickity-viewport
		+below($md)
			transition height 0.3s ease
	.flickity-slider
		// transform none !important
	.slide
		width 100%
		height 100%
		.content
			width 100%
			height 100%
			img, video
				display block
				width 100%
				height 100%
				object-fit contain
				font-family: "object-fit: contain";
			&.fullscreen
				img, video
					object-fit cover
					font-family: "object-fit: cover";
			&.video
				.plyr--ready
					width 100%
					height 100%
	.flickity-prev-next-button
		top 0
		height 100%
		width 15rem
		margin-top 0
		background transparent
		padding 0
		font-size $font-lead
		transform none
		border none
		border-radius 0
		z-index 10
		.flickity-button-icon
			left 15%
			width 70%
		.cursor
			align()
			pointer-events none
			visibility hidden
		&.previous
			left -15rem
			.cursor
				&::after
					content 'Previous'
		&.next
			right -15rem
			.cursor
				&::after
					content 'Next'
		&[disabled]
			display none
		&:hover
			.cursor
				visibility visible
		&:focus
			box-shadow none
			outline none

.slider-caption
	margin-top 1em
	text-align center
	+above($md + 1)
		padding 0 25%
