[page-type=index]
	#page-sections
		margin-top 2rem

#index-menu
	position relative
	z-index 10
	width 25rem
	margin 0 auto
	background $primary
	ul.has-submenu
		position relative
	ul.submenu
		position absolute
		top 2.7em
	[event-target=submenu]
		border 1px solid
		padding 0.5em 1em 0.6em
	li
		background $primary
		border 1px solid
		border-top 0
	a.button
		padding 0.5em 1em 0.6em
		border-width 1px

#index-artpieces
	.artpiece-link
		position relative
	.overlay
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		padding 1em
		display flex
		justify-content center
		align-items center
		color $primary
		opacity 0
		z-index 1
		background alpha($secondary, 0.3)
		transition opacity 450ms ease
		+above($md + 1)
			&:hover
				transition-duration 150ms
				opacity 1

#index-exhibitions
	border-top 2px solid
	.exhibition-link
		padding-top $spacer
		&:not(:last-child)
			padding-bottom 7rem
			border-bottom 1px solid
		.caption-title
			margin-top 1em

#index-artists
	.group
		position relative
		border-top 1px solid
		.row-item
			padding 0.1em 0 0.2em
			&:nth-child(2)
				+above($sm + 1)
					margin-top -1.3em
			&:not(:last-child)
				border-bottom 1px solid #9b9b9b
	.sticky-title
		position absolute
		position sticky
		position -webkit-sticky
		top 10rem
		padding 0.1em 0 0.2em
		+below($sm)
			width 100%
			top 4rem
			padding-top 0.5em
			background $primary
		
