.row
	width 100%
	display block
	float left

.column
	float left
	display block
	min-height 1px

contained()
	+above($md + 1)
		padding-left 13%
		padding-right 13%

.contained
	contained()

#page-sections
	span(1)
	contained()
	margin-top 12rem
	.page-section:not(:first-child)
		margin-top 12rem
