.row
	width 100%
	display block
	float left

.column
	float left
	display block
	min-height 1px

contained()
	+above($md + 1)
		padding-left 13%
		padding-right 13%
		// padding-left calc( (100% - 100rem) / 2 )
		// padding-right calc( (100% - 100rem) / 2 )

.contained
	contained()

#page-sections
	span(1)
	contained()
	margin-top 12rem
	+below($sm)
		margin-top 7rem
	.page-section:not(:first-child)
		margin-top 12rem
		+below($sm)
			margin-top 7rem
