webfont("GLBaderNarrowBold", "gl-bader/GLBaderNarrowBold")
webfont("GLBaderBold", "gl-bader/GLBaderBold")
webfont("GLBaderBoldItalic", "gl-bader/GLBaderBoldItalic")
webfont("GLBaderRegular", "gl-bader/GLBaderRegular")
webfont("GLBaderItalic", "gl-bader/GLBaderItalic")
webfont("GT-Sectra-Display-Super", "gt-sectra/GT-Sectra-Display-Super")
webfont("GT-Sectra-Display-Medium", "gt-sectra/GT-Sectra-Display-Medium")
webfont("GT-Sectra-Display-Medium-Italic", "gt-sectra/GT-Sectra-Display-Medium-Italic")

$font = 1.4rem
$fontSmall = 1.2rem
$font-heading = 6rem
$font-sub-heading = 4.6rem
$font-caption-title = 2.6rem
$font-lead = 2rem
$font-reading = 1.6rem

html
	font-size 10px
	+above($md + 1)
		font-size 0.66vw
	+above($xl + 1)
		font-size 0.55vw

body
	font-size $font
	+below($sm)
		font-size $fontSmall

menu()
	font-family "GT-Sectra-Display-Medium", Georgia, serif
	font-size 5.2rem
	line-height 6.2rem
	letter-spacing 0.03em
	+below($sm)
		font-size 3.8rem
		line-height 4.2rem
	&.bold
		font-family "GT-Sectra-Display-Super", Georgia, serif

heading()
	font-family "GT-Sectra-Display-Super", Georgia, serif
	letter-spacing 0.03em
	line-height 1

sub-heading()
	font-family "GT-Sectra-Display-Medium", Georgia, serif
	letter-spacing 0.03em
	line-height 1

serif()
	font-family "GT-Sectra-Display-Medium", Georgia, serif
	letter-spacing 0.03em
	em
		font-family "GT-Sectra-Display-Medium-Italic", Georgia, serif
	&.bold
		font-family "GT-Sectra-Display-Super", Georgia, serif

sans-serif-condensed()
	font-family "GLBaderNarrowBold", sans-serif

sans-serif()
	font-family "GLBaderRegular", Helvetica, sans-serif
	line-height 1.5
	letter-spacing 0.01em
	p
		line-height 1.5
	strong, .bold
		font-family "GLBaderBold", Helvetica, sans-serif
	em
		font-family "GLBaderItalic", Helvetica, sans-serif
	.bold em
		font-family "GLBaderBoldItalic", Helvetica, sans-serif
	&.condensed, .condensed
		sans-serif-condensed()

site-title()
	sans-serif-condensed()
	white-space nowrap
	line-height 1
	letter-spacing 0.18em
	text-transform uppercase

lead()
	serif()
	font-size $font-lead
	line-height 1.2
	p
		line-height 1.2

link()
	//

.site-title
	site-title()

.serif
	serif()

.sans-serif
	sans-serif()

.title, .heading, .heading-font
	heading()
	&.secondary, .secondary
		sub-heading()

.title, .heading
	font-size $font-heading
	+below($sm)
		font-size 4rem

h2, .sub-heading
	sub-heading()
	font-size $font-sub-heading
	+below($sm)
		font-size 2.8rem

.caption-title
	sub-heading()
	font-size $font-caption-title
	+below($sm)
		font-size 2rem

.summary
	font-size ($font + 0.4)
	font-family "GLBaderBold", Helvetica, sans-serif
	em
		font-family "GLBaderBoldItalic", Helvetica, sans-serif

.text
	font-size $font-reading
	+below($sm)
		font-size $fontSmall

.tag
	color #9b9b9b
	letter-spacing .15em
	text-transform uppercase
	font-size 1rem
	line-height 2
	border-bottom 1px solid
	display inline-block
	&:focus, &:active, &:hover, &:visited
		color #9b9b9b
	+below($sm)
		font-size 0.9rem

.caption
	font-size 1rem
	margin-top .1em
	color #c8c8c8

.lead
	lead()

.lead
	font-size $font-lead
	+below($sm)
		font-size 2.8rem

.small
	font-size $fontSmall

.tiny
	font-size ($fontSmall - 0.2)

.upper
	text-transform uppercase
