// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= rgba(255,255,255,1);
$secondary ?= rgba(0,0,0,1);
$accent ?= #ff0000
$menu-color ?= #f6f6f6

// Metrics
$padding = 1rem
$spacebetween = ($font*3)
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)
