// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #ffffff;
$secondary ?= #030303;
$accent ?= #ff0000
$menu-color ?= #f6f6f6

// Metrics
$padding = 1rem
$spacer = 4.3rem
$gutter = 2.4rem // grid gutter
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)
