[page-type=home][page-template=a]
	+above($sm + 1)
		#container
			margin-top 7rem
		.header-template
			min-height 91.3vw
		.sticky-title
			top 12vh
			margin-top 27.6vw
			span(10/16, $offset: 4/16)
			padding-right $gutter
		.template-component
			z-index 0
			&.image-1
				span(5/16, $offset: 1/16)
			&.images-2_3
				top 13vw
				span(6/16, $offset: 9/16)
				.image-2
					span(1/2)
					padding-right ($gutter/2)
				.image-3
					span(1/2)
					padding-left ($gutter/2)
			&.image-4
				top 60vw
				span(3/16, $offset: 5/16)
				padding-right $gutter
			&.image-5
				top 37.5vw
				span(6/16, $offset: 8/16)
			&.video-1
				top 28.1vw
				width 'calc(25% - %s)' % $gutter
				height 38vw
			&.text-1
				top 37vw
				span(3/16, $offset: 4/16)
