[page-type=home][page-template=a]
	+above($md + 1)
		#container
			margin-top 7rem
		.header-template
			min-height 81.4vw
		.sticky-title
			top 12vh
			margin-top 25.27vw
			span(10/16, $offset: 4/16)
			padding-right $gutter
		.template-component
			z-index 0
			&.image-1
				span(5/16, $offset: 1/16)
			&.images-2_3
				top 10vw
				span(6/16, $offset: 9/16)
				.image-2
					span(1/2)
					padding-right ($gutter/2)
				.image-3
					span(1/2)
					padding-left ($gutter/2)
			&.image-4
				top 55vw
				span(3/16, $offset: 5/16)
				padding-right $gutter
			&.image-5
				top 34.5vw
				span(6/16, $offset: 8/16)
			&.video-1
				top 25.1vw
				width 'calc(25% - %s)' % $gutter
				height 38vw
				.responsive-image
					height 100%
					img
						height 100%
						object-fit cover
						font-family 'object-fit: cover'
			&.text-1
				top 34vw
				span(3/16, $offset: 4/16)
