[page-type=articles], [page-type=about], [page-type=exhibition], [page-type=exhibitions]
	&[page-template=a]
		+above($md + 1)
			#container
				margin-top 7rem
			.header-template
				min-height 102vw
			.sticky-title
				top 12vh
				margin-top 14vw
				span(10/16, $offset: 3/16)
				text-align center
			.template-component
				z-index 0
				&.image-1
					span(6/16, $offset: 2/16)
					padding-right $gutter
				&.image-2
					top 19vw
					span(8/16, $offset: 8/16)
				&.image-3
					top 61vw
					span(10/16)
					padding-right $gutter
				&.image-4
					top 70vw
					span(5/16, $offset: 10/16)
					padding-right $gutter
				&.poster
					top 61vw
					span(4/16, $offset: 11/16)
					padding-right $gutter
				.slider
					height 41vw
					img
						object-fit cover
		+below($md)
			.template-component
				&.image-1
					span(3/4, $offset: 1/4)
				&.image-2
					span(1)
					padding-right $gutter
				&.image-3
					span(3/4, $offset: 1/4)
				&.image-4
					span(3/4)
				&.poster
					span(3/4, $offset: 1/4)
