section.header-template
	span(1)
	min-height 100vh
	position relative
	padding-bottom 8rem

.template-component
	position absolute
	top 0
	left 0
	&.video-cover
	 overflow hidden
	 video
			width 100%
			height 100%
			object-fit cover
	.video-container
		height 100%
		overflow hidden

.sticky-title
	position sticky
	position -webkit-sticky
	z-index 10
	pointer-events none
	h1 + .caption-title
		margin-top 2rem
