section.header-template
	position relative
	&+ #page-text
		margin-top 12rem
	+above($md + 1)
		min-height 100vh
		.responsive-image .ph
			background alpha($menu-color, 0.5)
		.slider-caption
			text-align left

section.header-template.desktop
	span(1)
	min-height 100vh
	position relative
	.responsive-image .ph
		background alpha($menu-color, 0.5)
	.slider-caption
		text-align left

section.header-template.mobile
	.slider
		height 90vmin
		.slide .content img
			object-fit: cover;
			font-family: "object-fit: cover";

.template-component
	+above($md + 1)
		position absolute
		top 0
		left 0
	+below($md)
		span(1)
	&.video-cover
	 overflow hidden
	 video
			width 100%
			height 100%
			object-fit cover
	.video-container
		height 100%
		overflow hidden
	.slider
		.flickity-prev-next-button
			&.previous
				left 0
			&.next
				right 0

[page-type=articles], [page-type=article], [page-type=exhibition], [page-type=exhibition-category], [page-type=exhibitions], [page-type=about]
	.template-component, .sticky-title
		margin-bottom 2rem
		text-align center

.sticky-title
	position absolute
	position sticky
	position -webkit-sticky
	padding-bottom 4rem
	z-index 10
	pointer-events none
	+below($md)
		span(1)
	h1 + .caption-title
		margin-top 2rem

[page-type=home]
	#home-index
		margin-top 12rem
